.title-color {
  color: rgb(10, 179, 179);
}
ul {
  list-style: none;
}
.img {
  width: 300px;
}
.container {
  width: 200px;
  height: 200px;
  background-color: rgb(91, 80, 248);
  border-radius: 50%;
}
.tog {
  display: none;
}
