/* .title-color {
  color: rgb(10, 179, 179);
}
ul {
  list-style: none;
}
.img {
  width: 300px;
} */
/* .container {
  width: 200px;
  height: 200px;
  background-color: rgb(170, 170, 177);
  border-radius: 50%;
} */
/* .tog {
  display: none;
}
.favorite {
  color: rgb(154, 154, 163);
  text-align: center;
  width: 18px;
}
.favorite-active {
  color: aqua;
}
.widget {
  text-align: center;
}

.widget p {
  margin-top: 0;
  margin-bottom: 16px;
  font-size: 48px;
}

.widget span {
  font-family: monospace;
}

.widget button {
  padding: 8px 12px;
  font-size: 20px;
  cursor: pointer;
} */
/* .container {
  width: 500px;
  display: flex;
 justify-content: space-between;
  gap: 50px;
} */
/* .box {
  width: 50px;
  height: 50px;
}
.item-red {
  background-color: rgb(107, 8, 8);
}
.item-green {
  background-color: rgb(71, 204, 71);
}
.item-black {
  background-color: rgb(26, 25, 25);
}
.item-blue {
  background-color: rgb(10, 179, 179);
}
.item-yellow {
  background-color: rgb(255, 255, 0);
} */

/* .container {
  display: flex;
  margin: 100px 50px 50px 50px;
}
.content {
  width: 155px;
  border: 1px solid black;
  margin: 0 auto;
}
.item {
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  display: inline-block;
  font-size: 25px;
  border: 1px solid black;
  cursor: pointer;
  vertical-align: middle;
  transition: background 1s;
}
.item:hover {
  background-color: rgb(10, 179, 179);
} */

.content {
  text-align: center;
  margin-top: 20px;
  padding-top: 150px;
  width: 400px;
  height: 400px;
  background-color: rgb(0, 0, 0);
  color: blueviolet;
}
.content-text {
  font-size: 45px;
}
